<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="https://mipodo.com" class="flex items-center">
                <img src="https://cdn.prod.website-files.com/67a0b7c7b749ffb5278fd99b/67a1e6d44eb503ec51bdc1db_logo-podo.svg" class="mr-3 h-6 sm:h-9" alt="Podo Logo" />
            </a>
            <div class="flex items-center lg:order-2">
                <a href="../auth/login" class="text-gray-800 hover:text-pink-700 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2">Iniciar Sesión</a>
                <a href="../auth/register" class="text-gray-200 bg-red-500 hover:bg-red-600 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5">Registrar</a>
            </div>
            
    </nav>
</header>